@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.coffee_txt {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgb(175, 213, 175);
  border: 1px solid black;
  border-radius: 2px;
  margin-bottom: 0.5rem;
}
.coffee_txt span {
  font-size: 30px;
  font-weight: 700;
  line-height: 80px;
  vertical-align: middle;
  margin-left: 1rem;
}

.coffee_btn {
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-left: 80px solid rgb(5, 173, 5);
  border-bottom: 40px solid transparent;
  cursor: pointer;
}

.coffee_btn:hover {
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-left: 80px solid rgb(4, 77, 4);
  border-bottom: 40px solid transparent;
  cursor: pointer;
}

#display {
  width: 100%;
  height: 200px;
  background-color: rgb(5, 173, 5, 0.6);
  color: white;
  border: 1px dotted black;
  text-align: center;
  padding: 0.5rem;
  font-family: 'IBM Plex Mono', monospace;
}
img[src$="rub.jpg"]:hover {
  filter: contrast("150%");
  cursor: pointer;
}
.animated {
  animation-name: hide-bill;
  animation-duration: 0.7s;
  animation-timing-function: ease;
}
@keyframes hide-bill {
  0% {
    transform: rotate (-90deg) rotateY(1deg);
    opacity: 1;
  }
  100% {
    transform: rotate (-90deg) rotateY(70deg);
    opacity: 0;
  }
}
#changeBox {
  position:relative;
  width: 100%;
  height:200px;
  border: 2px solid black;
  background-color: gray;
  margin-top: 2rem;
}